/* You can add styles here */

.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.list-item {
    flex: 33.3%;
}

.outer-product-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    height: 50px;
    width: 50px;
}

.cart-icon{
    margin-right: 10px;
}
.cart-number{
    font-size: 26px;
}

.trash {
    color: gray;
    margin-left: 100px;
}

.trash:hover {
    color: red;
}

.card {
    max-width: 20rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.card:hover {
    background-color: rgb(129, 139, 149);
}
.error{
    color: red;
}