/* You can add styles here */

.list-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

}

.list-group-item {
    flex: 1 33.3%;
}

/* .card {
    max-width: 20rem;
    margin: 0;
    padding: 0;
} */

.outer-product-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    height: 50px;
    width: 50px;
}
.cart-icon{
    margin-right: 10px;
}
.cart-number{
    font-size: 26px;
}